body{
  background-color: black
}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;
}
.vector{
  position: absolute;
  left: 78.47%;
  right: 9.38%;
  top: 2vw;
  height: 12vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}
.section1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    background: green;
}
.section2 {
    position: relative;
    justify-content: center;
    display: flex;
    height: 47vw;
}

.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;



}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;
}
.b1{
  width:100%;
}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 34.722vw;
}
.box {


 flex: 0 1 auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 300px;
}
.box2 {
 flex: 0 1 auto;
 background-color: #FF029C;
 height: 33.125vw;
width: 100%;
}
.box1 {
 flex: 0 1 auto;
 background-color: #FFFFFF;
 height: 33.125vw;
width: 100%;
}
.box3 {
 flex: 0 1 auto;
 background-color: #FFFFFF;
 height: 33.125vw;
width: 100%;
}
.box:nth-child(1) {
 flex: 1 1 auto;
}
.box:nth-child(2) {
 flex: 1 1 auto;
}
.box:nth-child(3) {
 flex: 1 1 0;
}
