*:focus {}
body{
  background-color: black;
  overflow-x: hidden;
}
.menu-items  {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;
}
.menu-items a:hover {
  opacity: 1;
}
.menu-items a {
  line-height: 3vw;
  color: white;
  opacity: .9;
  text-decoration: none;
}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;
}
.vector{
  position: absolute;
  left: 85%;
  right: 9%;
  top: 5vw;
  height: 6vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}
.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;
}
.star{
  height: 20vw;
  width: 19.375vw;
  padding-top: 7vw;
  padding-left: 4vw;

}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;
  height: 100%;

}
.b1{
  width:100%;
  height: 100%;

}
.pnk{
  width:40vw;
  height: 30vw;
}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 50vw;
}
.box {
flex:auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 32vw;
}
.box2 {
 background-color: #FF029C;
 height: 33vw;
width: 100%;
}
.box1 {
 background-color: #FFFFFF;
 height: 33vw;
width: 100%;
}
.box3 {
 background-color: #FFFFFF;
 height: 33vw;
width: 100%;
}
/*shop*/
/* ------------*/
.merch{
  height: 5.208vw;
width: 100%;
background-color: #FF029C;
top: 24.583vw;
}
.merchline{
  position: absolute;
  height: 5.208vw;
  width: 100%;
  background-color: #FF029C;
  top: 24.583vw;
}
.merchline2{
  position: absolute;
  height: 5.208vw;
  width: 100%;
}
.cont2s {
 display: flex;
 width: 100%;
}
.box1s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box2s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box3s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.cont3s {
 display: flex;
 width: 100%;
}
.box4s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box5s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box6s {
 background-color:black;
 height: 35vw;
width: 100%;
}
.cont4s {
 display: flex;
 width: 100%;
}
.box7s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box8s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box9s {
 background-color:#FFFFFF;
 height: 35vw;
width: 100%;
}
.cont5s {
 display: flex;
 width: 100%;

}
.box10s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box11s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box12s {
 background-color:black;
 height: 35vw;
width: 100%;
}
/*содержимое магазина*/
.tshirt{
  height: 35vw;
  width: 32vw;
  padding-top: 3vw;

}
.tapki{
  height: 25.625vw;
  width: 32.639vw;
  padding-top:7vw;
}
.tshirt2{
  height: 28vw;
  width: 28vw;
  padding-top:6vw;
}
.socks{
  height: 38vw;
  width: 30vw;

}
.hoodie{
  height: 33vw;
  width: 33vw;

}
.tshirt3{
  height: 35vw;
  width: 32vw;

}
.mat1{
  height: 24vw;
  width: 29vw;
  padding-top: 5vw;

}
.books{
  height: 28vw;
  width: 18vw;
  padding-top: 3vw;
  padding-left: 7vw;

}
.mat2{
  height: 26vw;
  width: 29vw;
  padding-top: 5vw;
  padding-left: 2vw;
}
.symka{
  height: 35vw;
  width: 25vw;

}
.ytkas{
  height: 25vw;
  width: 28vw;
  padding-top: 5vw;
  padding-left: 3vw;

}
.mask{
  height: 30vw;
  width: 30vw;

}
/*содержимое магазина*/
/*contacts*/
.cont2c {
 display: flex;
 width: 100%;
}
.box1c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box2c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box3c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
  background-image: url("../images/Basemap image.svg");
}
.cont3c {
 display: flex;
 width: 100%;
}
.box4c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box5c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box6c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
}
.eye{
  position: absolute;
  width: 29vw;
  height: 25vw;
  padding-left: 3vw;
  padding-top: 7vw;
}
/* ------------*/
