body{
  background-color: black
}
.header{
  height: 10.181vw;
width: 100%;
left: -0.972vw;
top: -4.514vw;
background-color: black;
}
.section1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background: green;
}
.section2 {
    position: relative;
    justify-content: center;
    display: flex;
    height: 47vw;
}

.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;



}
.im2{
  position: absolute;
  height:23.958vw;
}


.headtxt{
  position: absolute;
  text-decoration-color: black;
  width: 100%;
  background:white;
  padding: 1.389vw;
  }
.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 34.722vw;
}
.box {
 margin: 0.347vw;
 padding: 0.347vw;
 flex: 0 1 auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 300px;
}
.box2 {
 flex: 0 1 auto;
}
.box:nth-child(1) {
 flex: 1 1 auto;
}
.box:nth-child(2) {
 flex: 1 1 auto;
}
.box:nth-child(3) {
 flex: 1 1 0;
}
