*:focus {}
body{
  background-color: black
}
.menu-items  {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;
}
.menu-items a:hover {
  opacity: 1;
}
.menu-items a {
  line-height: 46px;
  color: white;
  opacity: .9;
  text-decoration: none;
}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;
}
.vector{
  position: absolute;
  left: 78.47%;
  right: 9.38%;
  top: 2vw;
  height: 12vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}
.section1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top:3.472vw;
    height: 3vw;
    background: black;
}
.section2 {
    position: relative;
    justify-content: center;
    display: flex;
    height: 47vw;
}

.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;
}
.star{
  height: 17.361vw;
  width: 19.375vw;
  padding-top: 8vw;
  padding-left: 5vw;

}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;
}
.b1{
  width:100%;

}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 34.722vw;
}
.box {


 flex: 0 1 auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 300px;
}
.box2 {
 flex: 0 1 auto;
 background-color: #FF029C;
 height: 33.125vw;
width: 100%;
}
.box1 {
 flex: 0 1 auto;
 background-color: #FFFFFF;
 height: 33.125vw;
width: 100%;
}
.box3 {
 flex: 0 1 auto;
 background-color: #FFFFFF;
 height: 33.125vw;
width: 100%;
}
.container1 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-auto-flow: row;
  grid-template-areas:
    "s1 s2 s3"
    "s4 s5 s6"
    "s7 s8 s9";
}

.s1 {
  grid-area: s1;
  background-color: white;
}

.s2 {
   grid-area: s2;
 }

.s3 {
   grid-area: s3;
 }

.s4 {
   grid-area: s4;
 }

.s5 {
   grid-area: s5;
 }

.s6 {
   grid-area: s6;
  }

.s7 {
   grid-area: s7;
 }

.s8 {
   grid-area: s8;
 }

.s9 {
   grid-area: s9;
 }
