*:focus {}
body{
  background-color: black
}
.menu-items  {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;
}
.menu-items a:hover {
  opacity: 1;
}
.menu-items a {
  line-height: 46px;
  color: white;
  opacity: .9;
  text-decoration: none;
}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;
}
.vector{
  position: absolute;
  left: 78.47%;
  right: 9.38%;
  top: 2vw;
  height: 12vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}


.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;
}
.star{
  height: 17.361vw;
  width: 19.375vw;
  padding-top: 8vw;
  padding-left: 5vw;

}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;

}
.b1{
  width:100%;

}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 34.722vw;
}
.box {
flex:auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 200px;
}
.box2 {
 background-color: #FF029C;
 height: 33vw;
width: 100%;
}
.box1 {
 background-color: #FFFFFF;
 height: 33vw;
width: 100%;
}
.box3 {
 background-color: #FFFFFF;
 height: 33vw;
width: 100%;
}
