

body{
  background-color: black;
  overflow-x: hidden;
}
footer {
    margin: 0;
    width: 10vw;
    height: 5vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: white;
}
button{

  border: 1px solid white;
  box-sizing: border-box;
  height: 6.250vw;
  width: 100%;
  font-family:ProtoGroteskb;
  font-size: 4.444vw;
  font-weight: 700;
  color:white;
  background-color: black;
  cursor: pointer;
}
button:hover {
  color: #FF029C;
}
.footer{
  padding-top: 10vw;
  width: 100vw;
  height: 17.292vw;
}
.button1{
  position: absolute;
  background-color: black;
  color: #FF029C;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
  opacity: 0;
  margin-top: 26vw;
}
.button1:hover {
  opacity: 1;

}
.button2{
  position: absolute;
  background-color: #FF029C;
  color:black;
  border: none;
  left: 0;
  top: 0;
  margin-top: 26vw;
  cursor: pointer;
  opacity: 0;

}
.button2:hover {
  opacity: 1;
  color:black;
}
.error{
  position: absolute;
  width: 100%;
  height: 61.875vw;
  left: 2.778vw;
  top: 1.250vw;
}
.errortext{
  font-family:ProtoGroteskb;
  position: absolute;
  width: 40.960vw;
  height: 10.347vw;
  left: 37.687vw;
  top: 47.764vw;
  font-style: normal;
  font-weight: 700;
  font-size: 2.500vw;
  line-height: 3.125vw;
  color: #FFFFFF;


}
input[type="text"],
   input[type="email"],
   select {
     display: block;
     font-family:ProtoGroteskb;
     width: 93%;
     color: white;
     position: relative;
     height: 6.250vw;
     font-size: 2.500vw;
     border: none;
     background-color: black;
     margin-top: 3.2vw;

   }
   hr {
     width: 100%;
     margin: auto;
     display: block;
     border: none;
     border-bottom: 1px solid #ddd;
   }
.menu-items  {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;

}
.menu-items a:hover {
  color: #FF029C;
}
.menu-items a {
  line-height: 3vw;
  color: white;
  opacity: .9;
  text-decoration: none;

}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;

}
/*линии*/
.pinkline {
   width: 100vw;
   height: 5.417vw;
   background: #FF029C;
   overflow: hidden;
   white-space: nowrap;
 }
 .pl {
   position: absolute;
   width: 100vw;
   font-family: 'ProtoGroteskb';
   font-style: normal;
   font-size: 6.95vw;
   line-height: 5.5vw;
   color: black;
   overflow: hidden;
   white-space: nowrap;
 }
 @keyframes pl-move {
   from { text-indent: -100%}
   to { text-indent: 100%}
  }
  .pl-move:hover {
animation-play-state: paused;
}
  .pl {
  animation: pl-move 7s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  }
  .whiteline {
     width: 100vw;
     height: 5vw;
     background: white;
     overflow: hidden;
     white-space: nowrap;

   }
   .wl {
     position: absolute;
     width: 100vw;
     font-family: 'ProtoGroteskb';
     font-style: normal;
     font-size: 6.95vw;
     line-height: 5vw;
     color: black;
     overflow: hidden;
     white-space: nowrap;


   }
   @keyframes wl-move {
     from { text-indent: 100%}
     to { text-indent: -100%}
    }
    .wl {
    animation: wl-move 5s linear infinite;
    }
    .blackline {
       width: 100vw;
       height: 5.417vw;
       background: black;
       overflow: hidden;
       white-space: nowrap;

     }

     .bl {
       position: absolute;
       width: 100vw;
       font-family: 'ProtoGroteskb';
       font-size: 6.95vw;
       line-height: 5.5vw;
       color: white;
       overflow: hidden;
       white-space: nowrap;
     }
     @keyframes bl-move {
       from { text-indent: 100%}
       to { text-indent: -100%}

      }
      .bl {
      animation: bl-move 7s linear infinite reverse;
      }
      .blacklineV{
         width: 6%;
         height: 5.417vw;
         background: black;
         z-index: 1;
         transform: rotate(-90deg);
       }
       .blV {
         position: absolute;
         font-family: 'ProtoGroteskb';
         font-size: 6.95vw;
         line-height: 5.5vw;
         color: white;
        z-index: 1;

       }
       .blV {
       	-webkit-animation: blV-move 4s linear infinite both;
       	        animation: blV-move 4s linear infinite both;
       }
       @-webkit-keyframes blV-move {
         0% {
           -webkit-transform: translateX(-150px);
                   transform: translateX(-150px);
         }
         100% {
           -webkit-transform: translateX(0px);
                   transform: translateX(0px);
         }
       }
       @keyframes blV-move {
         0% {
           -webkit-transform: translateX(-200px);
                   transform: translateX(-200px);
         }
         100% {
           -webkit-transform: translateX(-150px);
                   transform: translateX(-270px);
         }
       }

       ::selection {
           background: #FF029C;
           color: black;
          }
  /*линии*/
.vector{
  position: absolute;
  left: 85%;
  right: 9%;
  top: 5vw;
  height: 6vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}
/*index*/
.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;
}
.star{
  height: 20vw;
  width: 19.375vw;
  padding-top: 7vw;
  padding-left: 4vw;

}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;
  height: 100%;

}
.b1{
  width:100%;
  height: 100%;

}
.pnk{
  width:40vw;
  height: 30vw;
}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 50vw;
}
.box {
flex:auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 32vw;
}
.box2 {
 background-color: #FF029C;
 height: 32vw;
width: 100%;
cursor: pointer;
}
.box1 {
 background-color: #FFFFFF;
 height: 32vw;
 width: 100%;
 cursor: pointer;
}
.box3 {
 background-color: #FFFFFF;
 height: 32vw;
 width: 100%;
 cursor: pointer;
}
.gif2{
  width: 33.403vw;
  height: 32vw;
}
  .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  }

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: black;
  height: 31.667vw;
}
.div2 {
  grid-area: 1 / 3 / 3 / 4;
  background-color: white;
  height: 63.403vw;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  height: 31.667vw;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  height: 31.667vw;
}
.house{
  height: 60vw;
  cursor: pointer;
}
.pinkarrow{
  height: 35vw;
  cursor: pointer;
}
/*index*/
/*shop*/
/* ------------*/

.cont2s {
 display: flex;
 justify-content: center;
 width: 100%;
 height: 32vw;
}
.box1s {
  position: relative;
  background-color: #FFFFFF;
  height: 32vw;
  width: 100%;
}
.box2s {
  position: relative;
 background-color: black;
 height: 32vw;
 width: 100%;
}
.box3s {
  position: relative;
 background-color: #FFFFFF;
 height: 32vw;
 width: 100%;
}
.cont3s {
  position: relative;
justify-content: center;
 display: flex;
 width: 100%;
}
.box4s {
  position: relative;
 background-color: black;
 height: 32vw;
width: 100%;
}
.box5s {
  position: relative;
 background-color: #FFFFFF;
 height: 32vw;
width: 100%;
}
.box6s {
  position: relative;
 background-color:black;
 height: 32vw;
width: 100%;
}
.cont4s {
  position: relative;
 display: flex;
 width: 100%;
}
.box7s {
  position: relative;
 background-color: #FFFFFF;
 height: 32vw;
width: 100%;
}
.box8s {
  position: relative;
 background-color: black;
 height: 32vw;
width: 100%;
}
.box9s {
  position: relative;
 background-color:#FFFFFF;
 height: 32vw;
width: 100%;
}
.cont5s {
  position: relative;
  justify-content: center;
 display: flex;
 width: 100%;

}
.box10s {
  position: relative;
 background-color: black;
 height: 32vw;
width: 100%;
}
.box11s {
  position: relative;
 background-color: #FFFFFF;
 height: 32vw;
width: 100%;
}
.box12s {
  position: relative;
 background-color:black;
 height: 32vw;
width: 100%;
}
/*содержимое магазина*/
.tshirt{
  position: absolute;
  height: 35vw;
  width: 32vw;
  top: 0;
  left:0;
  cursor: pointer;

}
.tshirt11{
  position: absolute;
  height: 35vw;
  width: 32vw;
  top: 30vw;
  left:0;
}
.tapki{
  position: absolute;
  height: 25.625vw;
  width: 32.639vw;
  padding-top:4vw;
  cursor: pointer;
}
.tshirt2{
  position: absolute;
  height: 28vw;
  width: 28vw;
  padding-top:5vw;
  cursor: pointer;
}
.socks{
  position: absolute;
  top:1px;
  height: 38vw;
  width: 30vw;
  cursor: pointer;


}
.hoodie{
  position: absolute;
  height: 33vw;
  width: 33vw;
  cursor: pointer;

}
.tshirt3{
  position: absolute;
  height: 35vw;
  width: 32vw;
  cursor: pointer;

}
.mat1{
  position: absolute;
  height: 24vw;
  width: 29vw;
  padding-top: 5vw;
  cursor: pointer;

}
.books{
  position: absolute;
  height: 28vw;
  width: 18vw;
  padding-top: 3vw;
  padding-left: 7vw;
  cursor: pointer;

}
.mat2{
  position: absolute;
  height: 26vw;
  width: 29vw;
  padding-top: 5vw;
  padding-left: 2vw;
  cursor: pointer;
}
.symka{
  position: absolute;
  height: 35vw;
  width: 25vw;
  cursor: pointer;

}
.ytkas{
  position: absolute;
  height: 25vw;
  width: 28vw;
  padding-top: 5vw;
  padding-left: 3vw;
  cursor: pointer;

}
.mask{
  position: absolute;
  height: 30vw;
  width: 30vw;
  cursor: pointer;

}
.korzina{
  position:fixed;
  height: 8vw;
  width: 8vw;
  right: 1vw;
  top: 30vw;
  cursor: pointer;

}
.circle{
  position:fixed;
  height: 14vw;
  width: 12vw;
  right: 1vw;
  top: 27vw;

}
.congrats{
  opacity: 0;
  position: fixed;
  top: 20vw;
  left: 10vw;
}


/*содержимое магазина*/
/*корзина*/
.back{
  position:absolute;
  Width: 3.750vw;
  top: 30vw;
  z-index: 6;
}
.cont2sc {
 display: flex;
 width: 100%;
 background-color: #FF029C;
}
.box1sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box2sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box3sc {
 height: 35vw;
 width: 100%;
  border: 1px double black;
}
.cont3sc {
 display: flex;
 width: 100%;
}
.box4sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box5sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box6sc {
 height: 35vw;
 width: 100%;
  border: 1px double black;
}
/*корзина*/
/*contacts*/
.cont2c {
 display: flex;
 width: 100%;
}
.box1c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box2c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box3c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
  background-image: url("../images/Basemap image.svg");
}
.cont3c {
 display: flex;
 width: 100%;
}
.box4c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box5c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box6c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
}
.eye{
  position: absolute;
  width: 29vw;
  height: 25vw;
  padding-left: 3vw;
  padding-top: 7vw;
}
/*afisha*/
}
.box1a{
width: 100%;
}
.box2a{


}
.box3a{

}
.box4a{
height: 77vw;
width: 45vw;
}
.box6a{
  width: 100%;

}
.box7a{

}
.flex-container {
  display: flex;

}

.flex-container1 {
  width: 41.667vw;
  display: flex;
  flex-direction: column;
}

.flex-container2 {
  width: 60vw;
  display: flex;
  flex-direction: column;
}
/* ------------*/
/*события*/
.news1{
  height: 20vw;
  padding-right: 5vw;
}
.news2{
  height: 20vw;
  padding-right: 5vw;
}
.news3{
  height: 20vw;
  margin-right:5vw;
}
.news4{
  height: 20vw;
  padding-right: 5vw;
}
.ui-accordion-content{
  height: 30vw;
}
/*события*/
/*place*/
.place1{
  position: absolute;
  height: 33.056vw;
  width: 50.625vw;
  left: 53.889vw;
  top: 40vw;
  overflow: hidden;
  white-space: nowrap;
  animation: place-move 9s linear infinite;

}
@keyframes place-move {
   0% {left: 100vw;}
   100% {left: -50vw;}
   }
.place2{
  position: absolute;
  height: 40.556vw;
  width: 43.889vw;
  left: 15vw;
  top: 30vw;
  overflow: hidden;
  white-space: nowrap;
  animation: place-move 14s linear infinite;

}
.place3{
  position: absolute;
  height: 32.986vw;
  width: 43.889vw;
  left: -4.236vw;
  top: 25vw;
  overflow: hidden;
  white-space: nowrap;
  animation: place-move 9s linear infinite;

}
.cont1p{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  }

  .box1p {
    grid-area: 1 / 1 / 2 / 2;
    height:32.917vw;
    border: 1px double white;
  }
  .box2p {
    grid-area: 2 / 1 / 3 / 2;
      height: 100%;
      border: 1px double white;
  }
  .box3p {
    grid-area: 1 / 2 / 3 / 4;
      height: 100%;
      border: 1px double white;
  }
  .parent2 {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
}

.div1p {
  height: 32.917vw;
  grid-area: 1 / 1 / 2 / 3;
  border: 1px double white;
}
.div2p {
  height: 32.917vw;
  grid-area: 1 / 3 / 2 / 4;
  border: 1px double white;
}
.div3p {
  height: 32.917vw;
  grid-area: 2 / 1 / 3 / 2;
  border: 1px double white;
}
.div4p {
  height: 32.917vw;
  grid-area: 2 / 2 / 3 / 3;
  border: 1px double white;
}
.div5p {
  height: 100%;
  grid-area: 2 / 3 / 4 / 4;
  border: 1px double white;
}
.div6p {
   grid-area: 3 / 1 / 4 / 2;
   border: 1px double white;
 }
.div7p {
  height: 32.917vw;
  grid-area: 3 / 2 / 4 / 3;
  border: 1px double white;
}
.cont2p {
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows:2fr 2fr;
}

.div12 {
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  border: 1px double white;
}
.div22 {
  grid-area: 1 / 2 / 2 / 3;
  height: 32.917vw;
  border: 1px double white;

}
.div32 {
  grid-area: 2 / 2 / 3 / 3;
  height: 32.917vw;
  border: 1px double white;

}
.cont3p {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);

}
.opb{
  position: absolute;
  width: 106.014vw;
  height: 100.528vw;
  left: 0;
  top: 447.8vw;
}
.div13 {
  grid-area: 1 / 1 / 2 / 2;
  height: 32.917vw;
  border: 1px double white;
}
.div23 {
  grid-area: 1 / 2 / 2 / 4;
  height: 32.917vw;
  border: 1px double white;
}
.div33 {
  grid-area: 2 / 1 / 3 / 2;
  height: 32.917vw;
  border: 1px double white;
}
.div43 {
  grid-area: 2 / 2 / 3 / 3;
  height: 32.917vw;
  border: 1px double white;
}
.div53 {
   grid-area: 2 / 3 / 3 / 4;
   height: 32.917vw;
   border: 1px double white;

 }
 .food{
   height:65.764vw;
 }
 .blue{
   height: 32.917vw;
 }
 .yellow{
   height: 65.834vw;
 }
 .shoes{
   height: 32.917vw;
 }
/*ТУТ ФУТБОЛКА (ЖУРНАЛ)*/
.cartpage11{
  margin: 10vw 10vw 10vw 10vw;
  display: flex;
}
.im1cp{
  border: solid 2px white;
  width: 32vw;
  height: 53vw;

}
.text1cp{
  border: solid 2px white;
  height: 53vw;
  width: 48vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cpbox{
  display: flex;
}

.cpbox1{
  height: 7.2vw;
  width: 23.8vw;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cpbox2{
  height: 7.2vw;
  width: 23.8vw;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cpbox3{
  height: 7.2vw;
  width: 23.8vw;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cpbox4{
  height: 7.2vw;
  width: 23.8vw;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

p11{
  font-family: 'ProtoGroteskb';
  font-size: 4.4vw;
  color: white;
}

 p22{
  font-family: 'ProtoGroteskb';
  font-size: 2.4vw;
  font-style: normal;
  color: white;
  line-height: 4vw;
}

p33{
  font-family: 'ProtoGroteskb';
  font-size: 4.4vw;
  color: #FF029C;
}
p44{
    font-family: 'ProtoGroteskb';
    font-size: 1.6vw;
    color: white;
  }

.korzinaa{
  height: 5.8vw;
}

.oblozzka{
  width: 32vw;
  height: 53vw;
}

.im0cp {
  display: none;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 53vw;
  width: 80vw;
}
.im00cp {
  display: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53vw;
  width: 80vw;
}
.uspeshno {
  position: absolute;
  width: 40vw;
}
