*:focus {}
body{
  background-color: black;
  overflow-x: hidden;
}
button{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  border: 1px solid white;
  box-sizing: border-box;
  height: 6.250vw;
  width: 100%;
  font-family:ProtoGroteskb;
  font-size: 4.444vw;
  font-weight: 700;
  justify-content: center;
  color:white;
  background-color: black;
  cursor: pointer;
}
.menu-items  {
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;
}
.menu-items a:hover {
  color: #FF029C;
}
.menu-items a {
  line-height: 3vw;
  color: white;
  opacity: .9;
  text-decoration: none;
}
.header-title{
  height: 15vw;
  width: 100%;
  background-color: black;
}
/*линии*/
.pinkline {
   position: static;
   width: 100%;
   height: 5.417vw;
   background: #FF029C;
 }
 .pl {
   position: absolute;
   width: 244VW;
   font-family: 'ProtoGroteskb';
   font-style: normal;
   font-weight: 700;
   font-size: 6.95vw;
   line-height: 5.5vw;
   color: black;
 }
 @keyframes pl-move {
    0% {right: -15vw;}
    100% {right: -50vw;}
  }
  .pl-move:hover {
animation-play-state: paused;
}
  .pl {
  animation: pl-move 7s linear infinite;
  }
  .whiteline {
     position: static;
     width: 100%;
     height: 5.417vw;
     background: white;
   }
   .wl {
     position: absolute;
     width: 244VW;
     font-family: 'ProtoGroteskb';
     font-style: normal;
     font-weight: 700;
     font-size: 6.95vw;
     line-height: 5.5vw;
     color: black;
   }
   @keyframes wl-move {
     0% {right: -15vw;}
     100% {right: -50vw;}
    }
    .wl {
    animation: wl-move 7s linear infinite reverse;
    }
    .blackline {
       position: static;
       width: 100%;
       height: 5.417vw;
       background: black;
       z-index: 2;
     }
     .bl {
       position: absolute;
       width: 244VW;
       font-family: 'ProtoGroteskb';
       font-style: normal;
       font-weight: 700;
       font-size: 6.95vw;
       line-height: 5.5vw;
       color: white;
       z-index: 2;
     }
     @keyframes bl-move {
       0% {right: -15vw;}
       100% {right: -50vw;}
      }
      .bl {
      animation: bl-move 7s linear infinite reverse;
      }
      .blacklineV{
         position: static;
         width: 6%;
         height: 5.417vw;
         background: black;
         z-index: 1;
         transform: rotate(-90deg);
       }
       .blV {
         position: absolute;
         font-family: 'ProtoGroteskb';
         font-style: normal;
         font-weight: 700;
         font-size: 6.95vw;
         line-height: 5.5vw;
         color: white;

       }
       .blV {
       	-webkit-animation: blV-move 4s linear infinite both;
       	        animation: blV-move 4s linear infinite both;
       }
       @-webkit-keyframes blV-move {
         0% {
           -webkit-transform: translateX(-150px);
                   transform: translateX(-150px);
         }
         100% {
           -webkit-transform: translateX(0px);
                   transform: translateX(0px);
         }
       }
       @keyframes blV-move {
         0% {
           -webkit-transform: translateX(-200px);
                   transform: translateX(-200px);
         }
         100% {
           -webkit-transform: translateX(-150px);
                   transform: translateX(-270px);
         }
       }


  /*линии*/
.vector{
  position: absolute;
  left: 85%;
  right: 9%;
  top: 5vw;
  height: 6vw;
}
.hp{
  position: absolute;
  top: 2vw;
  height: 15vw;

}
.im1{
  position: absolute;
  height: 23.958vw;
width: 33.542vw;
}
.star{
  height: 20vw;
  width: 19.375vw;
  padding-top: 7vw;
  padding-left: 4vw;

}
.im2{
  position: absolute;
  height:23.958vw;
}

.line1{
  position: absolute;
  color: white;
  width: 100%;
  background:black;
  padding: 1.389vw;
}
.b2{
  width:100%;
  height: 100%;

}
.b1{
  width:100%;
  height: 100%;

}
.pnk{
  width:40vw;
  height: 30vw;
}
/* ------------*/
.cont {
 display: inline-flex;
 width: 100%;
 height: 50vw;
}
.box {
flex:auto;
}
.cont2 {
 display: flex;
 width: 100%;
 height: 32vw;
}
.box2 {
 background-color: #FF029C;
 height: 32vw;
width: 100%;
}
.box1 {
 background-color: #FFFFFF;
 height: 32vw;
width: 100%;
}
.box3 {
 background-color: #FFFFFF;
 height: 32vw;
width: 100%;
}
/*shop*/
/* ------------*/

.cont2s {
 display: flex;
 width: 100%;
}
.box1s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box2s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box3s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.cont3s {
 display: flex;
 width: 100%;
}
.box4s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box5s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box6s {
 background-color:black;
 height: 35vw;
width: 100%;
}
.cont4s {
 display: flex;
 width: 100%;
}
.box7s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box8s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box9s {
 background-color:#FFFFFF;
 height: 35vw;
width: 100%;
}
.cont5s {
 display: flex;
 width: 100%;

}
.box10s {
 background-color: black;
 height: 35vw;
width: 100%;
}
.box11s {
 background-color: #FFFFFF;
 height: 35vw;
width: 100%;
}
.box12s {
 background-color:black;
 height: 35vw;
width: 100%;
}
/*содержимое магазина*/
.tshirt{
  height: 35vw;
  width: 32vw;
  padding-top: 3vw;

}
.tapki{
  height: 25.625vw;
  width: 32.639vw;
  padding-top:7vw;
}
.tshirt2{
  height: 28vw;
  width: 28vw;
  padding-top:6vw;
}
.socks{
  height: 38vw;
  width: 30vw;

}
.hoodie{
  height: 33vw;
  width: 33vw;

}
.tshirt3{
  height: 35vw;
  width: 32vw;

}
.mat1{
  height: 24vw;
  width: 29vw;
  padding-top: 5vw;

}
.books{
  height: 28vw;
  width: 18vw;
  padding-top: 3vw;
  padding-left: 7vw;

}
.mat2{
  height: 26vw;
  width: 29vw;
  padding-top: 5vw;
  padding-left: 2vw;
}
.symka{
  height: 35vw;
  width: 25vw;

}
.ytkas{
  height: 25vw;
  width: 28vw;
  padding-top: 5vw;
  padding-left: 3vw;

}
.mask{
  height: 30vw;
  width: 30vw;

}
.korzina{
  position:fixed;
  height: 8vw;
  width: 8vw;
  right: 1vw;
  top: 30vw;

}
.circle{
  position:fixed;
  height: 14vw;
  width: 12vw;
  right: 1vw;
  top: 27vw;

}


/*содержимое магазина*/
/*корзина*/
.back{
  position:absolute;
  Width: 3.750vw;
  top: 30vw;
  z-index: 6;
}
.cont2sc {
 display: flex;
 width: 100%;
 background-color: #FF029C;
}
.box1sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box2sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box3sc {
 height: 35vw;
 width: 100%;
  border: 1px double black;
}
.cont3sc {
 display: flex;
 width: 100%;
}
.box4sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box5sc {
  border: 1px double black;
 height: 35vw;
 width: 100%;
}
.box6sc {
 height: 35vw;
 width: 100%;
  border: 1px double black;
}
/*корзина*/
/*contacts*/
.cont2c {
 display: flex;
 width: 100%;
}
.box1c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box2c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box3c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
  background-image: url("../images/Basemap image.svg");
}
.cont3c {
 display: flex;
 width: 100%;
}
.box4c {
 border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box5c {
border: 1px double white;
 height: 35vw;
 width: 100%;
}
.box6c {
 height: 35vw;
 width: 100%;
  border: 1px double white;
}
.eye{
  position: absolute;
  width: 29vw;
  height: 25vw;
  padding-left: 3vw;
  padding-top: 7vw;
}
/*afisha*/
}
.box1a{
width: 100%;
}
.box2a{


}
.box3a{

}
.box4a{

}
.flex-container {
  display: flex;

}

.flex-container1 {
  width: 41.667vw;
  display: flex;
  flex-direction: column;
}

.flex-container2 {
  width: 60vw;
  display: flex;
  flex-direction: column;
}
/* ------------*/
/*place*/
.place1{
  position: absolute;
  height: 32.986vw;
  width: 43.889vw;
  left: 53.889vw;
  top: 63.194vw;
  animation: place-move 7s linear infinite;

}
@keyframes place-move {
   0% {left: -1vw;}
   100% {left: -50vw;}
   }
.place2{
  position: absolute;
  height: 40.556vw;
  width: 43.889vw;
  left: 8.264vw;
  top: 27.014vw;
  animation: place-move 7s linear infinite;

}
.place3{
  position: absolute;
  height: 33.056vw;
  width: 50.625vw;
  left: -4.236vw;
  top: 73.264vw;
  animation: place-move 7s linear infinite;

}

/*place*/
