@media only screen and (min-width: 1224px) {
  /* Desktop */
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
  .error{
    position: absolute;
    width: 102.308vw;
    height: 77.692vw;
    left: 2.308vw;
    top: 64.872vw;
  }
  .errortext{
    position: absolute;
    width: 151.026vw;
    height: 38.205vw;
    left: 24.587vw;
    top: 128.718vw;
    font-style: normal;
    font-weight: 700;
    font-size: 4.615vw;
    line-height: 5.641vw;
    .menu-items  {
      display: flex;
      justify-content: space-between;
      padding: 1.7vw 1.7vw 1.7vw 1.7vw 1.7vw;

    }
    }
    /*.menu-items a {
      display: none;

    }
    .vector{
      display: none;
    }
    .b2{
      width: 344px;
      height: 194px;
      left: 46px;
      top: 150px;
    }
    .box1{
      width: 129px;
      height: 118px;

    }
    .box2{
      width: 129px;
      height: 118px;

    }
    .box3{
      width: 129px;
      height: 118px;

    }
    .gif2{
      width: 129px;
      height: 118px;
    }


}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
