@import "reset.css";/* сбрoc настроек браузера */
@import "content.css"; /* контент / содержимое  */
@import "responsive.css";/* адаптивность */
@font-face {
    font-family: "ProtoGroteskb";
    src: url("../fonts/ProtoGrotesk-bold_Desktop.otf") format("opentype");
  }
  @font-face {
      font-family: "ProtoGroteskr";
      src: url("../fonts/ProtoGrotesk-regular-Desktop.otf") format("opentype");
    }
    @font-face {
        font-family: "ProtoGroteskex";
        src: url("../fonts/ProtoGrotesk-extralight-Desktop.otf") format("opentype");
      }
      @font-face {
          font-family: "ProtoGroteskl";
          src: url("../fonts/ProtoGrotesk-light-Desktop.otf") format("opentype");
        }
.h1{
font-family:ProtoGroteskb;
font-size:2vw ;
position: absolute;
}
.span{
  font-family:ProtoGroteskb;
  font-size:2vw ;
  position: absolute;
}
.text1{
  font-family:ProtoGroteskb;
  font-size:6.944vw;
  position: absolute;
}
.t2{
  font-family:ProtoGroteskb;
  color: white;
  font-size:6.944vw;
}
.text2{
  font-family:ProtoGroteskb;
  font-size:4vw;
  position: absolute;
  color: white;
}
a{
  font-family:ProtoGroteskb;
  font-size:2.5vw;
  color: white;
}
.p1c{
  font-family:ProtoGroteskr;
  position: absolute;
  width: 28vw;
  font-size:4vw ;
  color: white;
}
.p2c{
  font-family:ProtoGroteskr;
  position: absolute;
  width: 28vw;
  font-size:2.778vw ;
  color: white;
}
.p3c{
  font-family:ProtoGroteskr;
  position: absolute;
  padding-top: 23vw;
  width: 30vw;
  font-size:2.778vw ;
  color: white;
}
.p1sc{
  font-family:ProtoGroteskl;
  position: absolute;
  width: 28vw;
  font-size:2.500vw ;
  color: black;
  }
  h3{
    color: white;
    font-family:ProtoGroteskb;
    coursor: pointer;
  }
  .pe{
    font-family:ProtoGroteskr;
    color: white;
  }
